@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Work+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


header,
section{
    min-height: 100vh;
}

header {
  width: 100%;
  text-align: right;
  background: url("./images/banner/banner3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 80px;
}

.header-content {
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.header-content h1 {
  font-weight: 700;
  font-size: 65px;
  line-height: 1.2;
  color: #fff;
}

.header-content p {
  font-size: 16px;
  color: #fff;
}

.header-content button {
    color: #005FAC;
    width: 160px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.about .about-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about .about-text h1{
    font-size: 40px;
    line-height: 1.5;
    font-weight: 700;
}

.about .about-text p{
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: #444343;
}

.about .about-text ul li {
    list-style: none;
    margin-bottom: 8px;
}

.about .about-text ul li:last-child {
    margin-bottom: 0;
}

.about .about-text ul li .icon {
    color:  #16D887;
}

.plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.plans h1 {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 700;
}

.plans .all-plans {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.plans .all-plans div{
    width: 250px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
}

.plans .all-plans div:hover {
    background: #16D887;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.plans .all-plans div img {
    width: 100px;
    height: 100px;
}